{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3  class="text-center">Черновая публикация</h3>

        {% if publication.title %}
            <span>Название: {{ publication.title }}</span>
        {% else %}
            <span>Название: не указано</span>
        {% endif %}

        {% if publication.description %}
            <span>Описание: {{ publication.description }}</span>
        {% else %}
            <span>Описание: не указано</span>
        {% endif %}

        <form method="post" action="{% url 'delete_publication' publication.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-publication-btn" type="submit">
                    Удалить
                </button>
            </a>
        </form>

        <h4 class="text-center">События</h4>

        <div class="cards-wrapper d-flex flex-column">

            {% for event in publication.get_events %}

                {% include "event_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}